{% extends "master.html" %}

{% block title %}
Mean Median Mode
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Constants(상수)</h1>
            <span>원주율,빛의속도,중력등 불변...</span>
            <h1>Optimizer(최적화)</h1>
            <h1>SparseData(희소데이터)</h1>
            <h1>Grape(그래프)</h1>
            <h1>SpatialData(공간데이터)</h1>
            <h1>MatlabArrays(매트랩배열)</h1>
            <h1>Interpolation(보간법)</h1>
            <h1>SignificationsTests(유의성검정)</h1>


        </div>
    </div>
</div>

{% endblock %}