{% extends "master.html" %}

{% block title %}
Mean Median Mode
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Constants(상수)</h1>
                <span>원주율,빛의속도,중력등 불변...</span>
            <h1>Optimizer(최적화)</h1>
            <span>방정식의 해(Root)를 찾거나
                함수의 최소값/최대값
                머신러닝...........</span>
            <h1>SparseData(희소데이터):추천시스템에서 많이씀</h1>
                <span>.......</span>
            <h1>Grape(그래프)</h1>
                <span>노드(node)와 간선(edge)으로 이루어진 네트워크 구조
                최단경로 찾기</span>
            <h1>SpatialData(공간데이터)</h1>
                <span>2차원 3차원공간에서 점들 사이에 거리(유클리드거리)
                를 구하거나 공간을 분할하는 기하학적 계산을 수행</span>
            <h1>MatlabArrays(매트랩배열)</h1>
            <h1>Interpolation(보간법)</h1>
            <h1>SignificationsTests(유의성검정)</h1>


        </div>
    </div>
</div>

{% endblock %}