@use './variables' as *;

.footer{

    margin-top: 104px;

    iframe{
        width: 100%;
        height: 320px;

        @media all and (min-width: $bp-tablet){

            height: 432px;
        }
       
    }
    
    p{
        margin: 21px 0;
        color: $primary;
        text-align: center;
        
        @media all and (min-width: $bp-tablet){

            margin: 34px 0;
            
        }
    }
}