@use "./variables" as *;
 


.header {
    position: relative; 
    /*자신을 원래 위치를 기준으로 삼고 위치를 조정.
    자식요소에게 absolute를 적용하기위해 부모요소 설정할때....
    줄서 있는 상태를 유지하되, 약간 발이나 팔을 뻗어 이동할수있는 상태*/
    padding: 18px 5%; //% 부모 요소의 너비(width)를 기준으로 계산되는 비율
    display: flex; //가로 한줄 합치기
    align-items: center; //세로폭 가운데 정렬
    justify-content: space-between; // 왼쪽 오른쪽 나란히 맞추기

    //태블릿일때
    @media all and (min-width: $bp-tablet) {
        position: static; 
        /* 그냥 줄 서있는 상태
         포지션을 별도로 지정하지 않으면 모든 요소는 static상태
         위치 조정 속성이 적용되지 않음. 요소를 강제로 이동하거나 겹치게 하지않음*/
        padding: 28px 52px;
    }
    .logo{
        // float:left; // display:flex, display:grid
        a{
            font-size: 26px;
            color: $primary;
            font-weight: normal;
        }
    }

   

    .gnb {
        display: none; // 모바일에서...보이지 않게...->
        // //스크립트(jquery)로 컨트롤하기위해
        position: absolute ; // 절대적인 상태로 포지션을 가짐 왼쪽 위로 튀어나옴
        top: 100%;  // top: 100%; 라고 쓰면 ➔ 부모(Header)의 높이가 끝나는
        // 가장 아랫면(100% 지점)에 메뉴의 대가리를 딱 맞추겠다,,(50%면 header의 정중앙부터)
        left:0;  //왼쪽에바짝붙어서
        width:100%; // 부모화면너비의 100프로로 채우겟다 //세뚜...left0랑width100%
        background-color: $primary;

        //여기가 중요
        &.active{
            display: block;
        }
           

        //태블릿모드 
        @media all and (min-width: $bp-tablet) {

            display: block !important; //강제...
            position: static;
            float: right; 
            width:auto;
            margin-top: 6px;
            background: none;

        }
    li {
        border-bottom: 1px solid #303f9f; //밑줄....
        
        @media all and (min-width: $bp-tablet){

            float: left;
            margin-left: 21px;
            border-bottom: 0; 
        }

        a {
            display: block;
            padding: 14px 0 14px 5%;
            font-size: 14px;
            color: #fff;

            @media all and (min-width: $bp-tablet){

                padding: 0;
                //손가락 크기도 고려해야함...누르면 어캄..
                font-size: 16px;
                color: $primary;
            }
        }
    }
    }

}


.menu-toggle-btn{
    float: right;
    width: 20px;
    margin-top: 4px;
    cursor: pointer;

    @media all and (min-width: $bp-tablet){
        display: none !important;
    }

    span{
        display: block;
        width:100%;
        height: 2px;
        background-color: $primary;

        &:nth-child(2){   // 얘만 건들여서 햄버거 만듦
            margin: 5px  0; //마진top bottom 5px // 좌우0
        }
    }
}
