
.form-control-user{
    font-size: .8rem;
    border-radius: 2rem;
    padding: 0.9rem 1rem;
}

.btn-user{
    font-size:.8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-google{
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-twitter{
    color: #fff;
    background-color: #8598c0;
    border-color: #fff;
}

//클래스 이름(.small)을 쓰든, 태그(<small>)를 쓰든 
//통해라...보험용으로 둘다 씀..
.small, small{ 
    font-size: 80%;
    font-weight: 500;
}

.bg-register-image{
    background-image: url("../images/joinBg.png");
    background-size: cover;
    background-position: center;
}

.bg-login-image{
    background-image: url("../images/joinBg.png");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    align-self: stretch;
}

.img-profile{
    width:30px; 
}


.page-link {
    min-width: 40px;      /* 최소 가로 폭을 넉넉하게 지정 */
    text-align: center;   /* 숫자를 정중앙으로 정렬 */
    white-space: nowrap;
}